@import url("./scss/_bootstrap.scss");
@import url("./scss/_sidebar.scss");
@import url("./scss/_students.scss");
@import url("./scss/_courses.scss");
@import url("./scss/_attendence.scss");
@import url("./scss/_admin.scss");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
// #root{
//     background: rgb(8,26,41);
// background: linear-gradient(175deg, rgba(8,26,41,1) 0%, rgba(25,235,59,1) 0%, rgba(7,138,28,1) 55%);
// }